.footer {
    .container {
        display: flex;
        padding: 4rem 2rem;
        justify-content: space-between;
    }
}

@include mq(sm, max) {
    .footer .container {
        flex-direction: column;

        .footer-left {
            margin-bottom: 2rem;
        }
    }
}