.header {
    border-bottom: 1px solid $primary-color;

    .header-top {
        padding: 1rem 0;
        margin: 0 auto;
    }

    .header-bottom {
        padding: 3rem 0;

        .header-left {
            align-items: center;
        }
    }

    .header-right {
        .main-nav li+li {
            margin-left: 3rem;
        }

        i {
            font-weight: 500;
            transition: font-weight .3s;
        }

        li:hover {
            i {
                font-weight: 600;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.main-nav {
    li + li {
        margin-left: 5rem;
    }
}

.logo {
    font-size: $font-size-lg;
    margin-right: 4rem;
}

@include mq(lg, max) {
    .header-left .main-nav {
        display: none;
    }
}

@include mq(600px, max) {
    .header-right .main-nav li:not(:first-child) {
        display: none;
    }
}